<!DOCTYPE html>
<html lang="it">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{ page_title }}</title>
  <meta name="description" content="{{ page_description }}">

  {% include "../partials/meta/social_share.twig" %}
  {% include "../partials/meta/favicons.twig" %}

  {# fonts inclusion #}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="../assets/vendors/vendors.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/master.css">

</head>
<body>

  <div class="main-wrapper {{ attributes.addClass(page_class) }}">

    {% include "../partials/header.twig" %}

    <main class="main">

      {% block main %}{% endblock %}

    </main>

    {% include "../partials/footer.twig" %}

  </div>

  
  {% include '../../images/svg/svg-symbols.svg' ignore missing %}


  <script src="../assets/vendors/vendors.min.js"></script>
  <script src="../assets/js/main.min.js"></script>

</body>
</html>
